{{define "main"}}
<h1>Welcome to the home page!</h1>

<div>
  {{ range.Products }}

  <div>
    <ul>
      <li>
        <h2>{{.Name}}</h2>
        <p>{{.Price}}</p>
        <img src="{{.Image}}" alt="{{.Name}}" />
        <!--<p>{{.Url}}</p>-->
      </li>
      <hr />
    </ul>
  </div>

  {{else}}
  <li>No products available.</li>
  {{ end }}
</div>
{{ end }}
